/* Footer */

footer {
  background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#b1ceea), color-stop(100%,#e0f4ff));
  color: #404040;
  box-shadow: inset 0 1px 10px rgba(0,0,0,.1);
  text-shadow: 0 1px 0px rgba(255,255,255,.5);
}

#footerlogo {
  float: left;
  margin-right: 15px;
  opacity: .7;
}

#footerlogo:hover {
  opacity: 1;
}

footer p {
  margin: 8px 0;
  font-size: 14px;
}

footer p a {
  color: #00a5ea;
  opacity: .7;
  font-weight: bold;
}

footer p a:hover {
  opacity: 1;
}

footer .content {
  padding-bottom: 20px;
}

@media screen and (max-width: 320px) {
  #footerlogo {
    float: none;
  }
  footer {
    text-align: center;
  }
  footer p {
    margin-top: 5px;
  }
}
