/* Footer */

footer {
  background: #b1ceea;
  background: #c9e1f5;
  color: #404040;
  box-shadow: inset 0 1px 0 rgba(0,0,0,.1);
  text-shadow: 0 1px 0px rgba(255,255,255,.5);
}

#footerlogo {
  float: left;
  margin-right: 15px;
}

footer p {
  margin: 8px 0;
  font-size: 14px;
}

footer p a {
  color: #00a5ea;
  font-weight: bold;
}

footer .content {
  padding-bottom: 20px;
}

@media screen and (max-width: 380px) {
  #footerlogo {
    float: none;
    margin-right: 0;
  }
  footer {
    text-align: center;
  }
  footer p {
    margin-top: 5px;
    font-size: .9em;
  }
}
