/* Header */

#logo {
  font-size: 1em;
  margin: 0;
  position: relative;
}

#logo span {
  display: none;
}

#logo img {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: .7;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -o-transition: all .25s;
  -ms-transition: all .25s;
  transition: all .25s;
}

#logo img:hover {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.top-bar {
  background: #0383c0;
  background: -webkit-linear-gradient(#0383c0,#03599f);
  background: -moz-linear-gradient(#0383c0,#03599f);
  background: -o-linear-gradient(#0383c0,#03599f);
  background: -ms-linear-gradient(#0383c0,#03599f);
  background: linear-gradient(#0383c0,#03599f);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.3), inset 0 -1px 0 rgba(0,0,0,.2);
  display: block;
  height: 6px;
}

header {
  text-align: center;
  background: #b1ceea;
  background: -webkit-linear-gradient(#e0f4ff,#b1ceea);
  background: -moz-linear-gradient(#e0f4ff,#b1ceea);
  background: -o-linear-gradient(#e0f4ff,#b1ceea);
  background: -ms-linear-gradient(#e0f4ff,#b1ceea);
  background: linear-gradient(#e0f4ff,#b1ceea);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.9);
}

header .container {
  padding: 21px 0 16px;
}

header .content {
  padding: 0px 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#nav li {
  display: inline-block;
  margin: .4em .15em;
}

#nav li a {
  text-decoration: none;
  color: #718ba8;
  font-weight: bold;
  font-size: 13px;
  padding: 0 0 .3em;
  padding: .3em .6em .4em;
  border-radius: 5px;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#nav li a:hover {
  color: #02a2ee;
  text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

#nav li.current a, #nav li.current a:hover {
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  border-bottom-color: #0383c0;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.5);
  background: #82b5e5;
  background: -webkit-linear-gradient(#52a7d7,#82b5e5);
  background: -moz-linear-gradient(#52a7d7,#82b5e5);
  background: -o-linear-gradient(#52a7d7,#82b5e5);
  background: -ms-linear-gradient(#52a7d7,#82b5e5);
  background: linear-gradient(#52a7d7,#82b5e5);
}

@media screen and (min-width: 960px) {
  #logo {
    float: left;
    width: 20%;
  }
  #nav {
    float: right;
    width: 75%;
    margin-top: 2px;
    text-align: right;
  }
  header .content {
    padding: 0 20px;
  }
  header {
    text-align: left;
  }
}

@media screen and (max-width: 568px) {
  #nav .content {
    margin-left: 0;
    margin-right: 0;
  }
  #nav li {
    margin: .4em 0;
  }
  #nav li a {
    font-size: 11px;
  }
}

@media screen and (max-width: 320px) {
  #nav li a {
    font-size: 12px;
  }
}
