@import "normalize.css";
@import "grid.css" screen and (min-width: 601px);
@import "grid-fluid.css" screen and (min-width: 601px) and (max-width: 960px);

/* General */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 3px solid #1ebe1a;
  color: #222;
}

header, section, footer {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}

.content {
  padding: 20px;
}

.content p:last-child {
  margin-bottom: 0;
}

section.main {
  padding: 30px 0;
}

/* Header */

#logo {
  font-size: 1em;
  margin: 0;
}

#logo span {
  display: none;
}

header {
  text-align: center;
}

header .container {
  padding: 32px 0;
}

header .content {
  padding: 0px 10px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

#nav li {
  display: inline-block;
  margin: .4em .5em;
}

#nav li a {
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 14px;
  padding: 0 0 .3em;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #fff;
}

#nav li a:hover {
  color: #222;
  border-bottom-color: #ddd;
}

#nav li.current a, #nav li.current a:hover {
  color: #222;
  border-bottom-color: #1ebe1a;
}

@media screen and (min-width: 960px) {
  #logo {
    float: left;
    width: 20%;
  }
  #nav {
    float: right;
    width: 75%;
    margin-top: 2px;
    text-align: right;
  }
  header .content {
    padding: 0 20px;
  }
  header {
    text-align: left;
  }
}

/* Footer */

footer {
  background: #222;
  color: #999;
  box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

#footerlogo {
  float: left;
  margin-right: 15px;
}

footer p {
  margin: 12px 0;
  font-size: 14px;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

footer .content {
  padding-bottom: 15px;
}

@media screen and (max-width: 320px) {
  #footerlogo {
    float: none;
  }
  footer {
    text-align: center;
  }
  footer p {
    margin-top: 5px;
  }
}

/* Buttons */

.button, .mini-button {
  background-color: #07c;
  background-image: url(../img/grad_white.png);
  background-repeat: repeat-x;
  color: #fff;
  padding: .5em .8em .55em;
  display: inline-block;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 3px rgba(0,0,0,.3);
  text-shadow: 0 -1px 0 rgba(0,0,0,.4);
  border: 1px solid rgba(0,0,0,.3);
}

.button:hover, .mini-button:hover {
  background-color: #09c;
}

.mini-button {
  font-size: 13px;
}

.button + .button {
  margin-left: 15px;
}

.green { background-color: #11550f; }
.green:hover { background-color: #0a3708; }

/* Hero Block */

.hero {
  background: #1ebe1a;
  color: #fff;
  box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.overview .hero {
  padding: 10px 0;
}

.hero p, .hero ul {
  margin: 10px 0;
}

.hero h2 {
  font-size: 2em;
  margin: 0;
}

.overview .hero h2 {
  margin-bottom: 10px;
}

.hero a {
  color: #fff;
}

.hero .buttons {
  margin-top: 15px;
}

.overview .hero .images {
  float: right;
  position: relative;
  width: 400px;
  height: 250px;
  overflow: visible;
}

.overview .hero .images img {
  position: absolute;
  -moz-transition: all .25s ease;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.overview .hero .images .img-1,
.overview .hero .images .img-2,
.overview .hero .images .img-3 {
  width: 200px;
  height: 135px;
  border: 5px solid #fff;
  box-shadow: 0 1px 5px rgba(0,0,0,.6);
  border-radius: 5px;
}

.overview .hero .images .img-1 {
  top: -10px;
  right: 180px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
}
.overview .hero .images .img-2 {
  top: 20px;
  right: 20px;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
}
.overview .hero .images .img-3 {
  top: 90px;
  right: 110px;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
}

.overview .hero .images .img-1:hover {
  -webkit-transform: rotate(-7deg) translate(-20px, 5px);
  -moz-transform: rotate(-7deg) translate(-20px, 5px);
  -o-transform: rotate(-7deg) translate(-20px, 5px);
  -ms-transform: rotate(-7deg) translate(-20px, 5px);
}

.overview .hero .images .img-2:hover {
  -webkit-transform: rotate(5deg) translate(20px, 10px);
  -moz-transform: rotate(5deg) translate(20px, 10px);
  -o-transform: rotate(5deg) translate(20px, 10px);
  -ms-transform: rotate(5deg) translate(20px, 10px);
}

.overview .hero .images .img-3:hover {
  -webkit-transform: rotate(2deg) translate(-5px, 15px);
  -moz-transform: rotate(2deg) translate(-5px, 15px);
  -o-transform: rotate(2deg) translate(-5px, 15px);
  -ms-transform: rotate(2deg) translate(-5px, 15px);
}

.overview .hero .images .octocat {
  width: 125px;
  height: 112px;
  top: 90px;
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
}

.overview .hero .images .octocat:hover {
  -webkit-transform: rotate(-7deg) translate(-5px, 0px);
  -moz-transform: rotate(-7deg) translate(-5px, 0px);
  -o-transform: rotate(-7deg) translate(-5px, 0px);
  -ms-transform: rotate(-7deg) translate(-5px, 0px);
}

/* HTML Elements */

a {
  color: #1ebe1a;
  text-decoration: none;
  -webkit-transition: all .25s;
}

ul {
  padding-left: 20px;
}

h3 {
  margin: 0;
}
