@import "normalize.css";
@import "grid.css";
@import "general.css";
@import "header.css";
@import "footer.css";


/* Buttons */

.button {
  position: relative;
  display: inline-block;
  padding: 0 10px 0 10px;
  font-size: 13px;
  font-weight: 600;
  line-height: 24px;
  border-radius: 3px;
  color: #333;
  text-shadow: 0 1px 0 white;
  border: 1px solid #D4D4D4;
  border-bottom-color: #BCBCBC;
  background: #FAFAFA;
  background: -moz-linear-gradient(#FAFAFA, #EAEAEA);
  background: -webkit-linear-gradient(#FAFAFA, #EAEAEA);
}

.button:hover {
  background-color: #09c;
}

.button + .button {
  margin-left: 5px;
}

.icon {
  padding-left: 28px;
}

.icon:before {
  content: "";
  float: left;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 16px;
  height: 16px;
}

.icon-twitter:before {
  background: url(../img/twitter-icon.png) top left no-repeat;
  background-size: 16px 16px;
}

.icon-github:before {
  background: url(../img/octocat-icon.png) top left no-repeat;
  background-size: 16px 16px;
}

/* Hero Block */

.hero {
  background: #00a5ea;
  background: -webkit-gradient(linear, left top, left bottom,
    color-stop(0%,#1875c6), color-stop(100%,#00a5ea));
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.3);
  font-size: 1.4em;
  line-height: 1.4em;
  box-shadow: inset 0 1px 15px rgba(0,0,0,.3);
}

.hero h2 {
  font-size: 2.1em;
  font-weight: 300;
  margin: 0.7em 0 0.4em;
}

.hero p {
  font-weight: 300;
  margin: .5em 0 1em;
}

.hero .content {
  padding: 10px 20px;
}

/* Overview hero block */

.overview .hero .container {
  overflow: visible;
}

.overview .hero .content {
  padding: 30px 20px;
}

.overview .hero h2 {
  font-size: 1.8em;
  margin: .83em 0;
}

.overview .intro, .overview .images {
  float: left;
}

.overview .images {
  position: relative;
  top: -10px;
  overflow: visible;
  height: 260px;
}

@media screen and (min-width: 960px){
  .overview .images {
    width: 460px;
  }
  .overview .intro {
    width: 500px;
  }
}

.overview .images img {
  width: 300px;
  height: 225px;
  position: absolute;
  top: 0;
  left: 0;
  border: 4px solid #fff;
  box-shadow: 0 1px 10px rgba(0,0,0,.3);
}

.overview .images img.first {
  top: 10px;
  left: 130px;
  -webkit-transform: rotate(4deg);
}

.overview .images img.second {
  top: 50px;
  left: 20px;
  -webkit-transform: rotate(-5deg);
}

@media screen and (max-width: 959px){
  .overview .images, .overview .intro {
    text-align: center;
    width: 100%;
  }
  .overview .images {
    width: 10%;
    margin: 0 auto;
    float: none;
  }
  .overview .images img.first {
    left: -50px;
  }
  .overview .images img.second{
    left: -185px;
  }
  .overview .hero p {
    max-width: 560px;
    margin: .5em auto 1em;
  }
}

@media screen and (max-width: 480px){
  .overview .images {
    height: 200px;
  }
  .overview .images img {
    width: 250px;
    height: 166px;
  }
}


/* Testimonial */

.testimonial .byline {
  text-align: center;
  font-size: 1.2em;
  margin: 0 0 .5em;
}

.testimonial .quote {
  background: #fff799;
  color: #9e7300;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1), inset 0 0 1px rgba(255,255,255,.6);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffab4), color-stop(100%,#fff799));
  border: 1px solid #e5cd62;
  position: relative;
}

.testimonial .quote:before,
.testimonial .quote:after {
  content: "";
  position: absolute;
  z-index: -2;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  max-height: 100px;
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0,.1);
  box-shadow: 0 15px 10px rgba(0,0,0,.1);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.testimonial .quote:after {
  right: 10px;
  left: auto;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

.testimonial .quote .pointer-border {
  border-color: #e5cd62 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -20px;
  left: 48.5%;
}

.testimonial .quote .pointer {
  border-color: #fff799 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -19px;
  left: 48.5%;
}

.testimonial .quote p {
  margin: 0;
  font-size: 18px;
  text-align: center;
  line-height: 1.5em;
  font-family: Georgia, serif;
  font-style: italic;
  text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

.testimonial .author {
  margin: 15px 0;
  text-align: center;
}

.testimonial .author img {
  border-radius: 3px;
  float: left;
  margin-right: 10px;
}

.testimonial .author p {
  margin: 0;
  line-height: 1em;
  color: #333;
}

.testimonial .author .name {
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0;
}

.testimonial .author .company {
  font-size: 12px;
}

/* Trainers */

.trainer .avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.main .trainer h3 {
  margin-bottom: 0;
  font-weight: 300;
  font-size: 1.8em;
}

/* Content Formatting */

p.more {
  margin-bottom: 0;
}

/* HTML Elements */

a {
  color: #00a5ea;
  text-decoration: none;
  transition: all .25s;
  -moz-transition: all .25s;
  -webkit-transition: all .25s;
  -o-transition: all .25s;
}

a:hover {
  color: #0383c0;
}

ul {
  padding-left: 20px;
}

.main h2 {
  color: #333;
}

.main h3 {
  margin: 0;
  color: #333;
  font-size: 1.2em;
}

/* Components */

.subpage-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.subpage-list li {
  display: inline-block;
}

.subpage-list li a {
  padding: 5px 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.subpage-list li.current a,
.subpage-list li.current a:hover {
  background: #0383C0;
  color: #fff;
}

.subpage-list li a:hover {
  background: #eee;
}

.resource-list {
  padding: 0;
  list-style: none;
}

.resource {
  margin-bottom: 30px;
}

.resource h4,
.resource p {
  margin: 0;
}

.class-list .class {
  margin: 15px 0;
  padding: 10px;
  background: -webkit-linear-gradient(#FAFAFA, #F1F1F1);
  border: 1px solid #DDD;
  border-bottom: 1px solid #CCC;
  border-radius: 3px;
  text-shadow: 0 1px 0 white;
  box-shadow: inset 0 1px 0 white, 0 1px 5px #F1F1F1;
}

.align-left { text-align: left; }
.align-right { text-align: right; }
.align-center { text-align: center; }

