/* Subpage list */

.subpage-list {
  margin: 0 20px 15px;
}

.subpage-list ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: table-row;
}

.subpage-list li {
  display: table-cell;
  width: 1%;
  text-align: center;
}

.subpage-list li a {
  display: block;
  text-align: center;
  line-height: 1.375em;
  font-size: 13px;
  padding: 8px 10px;
  color: #718BA8;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  font-weight: bold;
  background: #B1CEEA;
  background: -webkit-linear-gradient(#E0F4FF,#B1CEEA);
  background: -moz-linear-gradient(#E0F4FF,#B1CEEA);
  background: -o-linear-gradient(#E0F4FF,#B1CEEA);
  background: -ms-linear-gradient(#E0F4FF,#B1CEEA);
  background: linear-gradient(#E0F4FF,#B1CEEA);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .9);
  border: 1px solid #d1e4f1;
  border-bottom: 1px solid #99bbd7;
  border-left: 1px solid rgba(255,255,255,.5);
  border-right: 1px solid #b3cee2;
}

.subpage-list li:first-child {
  border-left: 1px solid #b3cee2;
}
.subpage-list li:first-child a {
  border-left: none;
}
.subpage-list li:first-child,
.subpage-list li:first-child a {
  border-radius: 3px 0 0 3px;
}

.subpage-list li:last-child,
.subpage-list li:last-child a {
  border-radius: 0 3px 3px 0;
}

.subpage-list li.current:first-child {
  border-left: none;
}

.subpage-list li.current a,
.subpage-list li.current a:hover {
  font-weight: bold;
  cursor: default;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  background: #82B5E5;
  background: -webkit-linear-gradient(#52A7D7,#82B5E5);
  background: -moz-linear-gradient(#52A7D7,#82B5E5);
  background: -o-linear-gradient(#52A7D7,#82B5E5);
  background: -ms-linear-gradient(#52A7D7,#82B5E5);
  background: linear-gradient(#52A7D7,#82B5E5);
  border: 1px solid #4683b1;
}

.subpage-list li a:hover {
  color: #02A2EE;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}

/* Mobiles get a stacked version */

@media (max-width: 568px) {
  .subpage-list ul {
    display: block;
  }
  .subpage-list li {
    display: block;
    width: auto;
  }
  .subpage-list li a {
    border: 1px solid #b3cee2;
    border-top: 1px solid rgba(255,255,255,.5);
    border-bottom: 1px solid #b3cee2;
  }

  .subpage-list li:first-child {
    border-top: 1px solid #b3cee2;
  }
  .subpage-list li:first-child a {
    border-top: none;
  }
  .subpage-list li:first-child,
  .subpage-list li:first-child a {
    border-radius: 3px 3px 0 0;
  }

  .subpage-list li:last-child,
  .subpage-list li:last-child a {
    border-radius: 0 0 3px 3px;
  }

  .subpage-list li.current:first-child {
    border-top: none;
  }
}
