/* Testimonials */

.testimonial .byline {
  text-align: center;
  font-size: 1.2em;
  margin: 0 0 .5em;
}

.testimonial .quote {
  background: #fff799;
  background: -webkit-linear-gradient(#fffab4, #fff799);
  background: -moz-linear-gradient(#fffab4, #fff799);
  background: -o-linear-gradient(#fffab4, #fff799);
  background: -ms-linear-gradient(#fffab4, #fff799);
  background: linear-gradient(#fffab4, #fff799);
  color: #9e7300;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,.1), inset 0 0 1px rgba(255,255,255,.6);
  border: 1px solid #e5cd62;
  position: relative;
}

.testimonial .quote .pointer-border {
  border-color: #e5cd62 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -20px;
  left: 48.5%;
}

.testimonial .quote .pointer {
  border-color: #fff799 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -19px;
  left: 48.5%;
}

.testimonial .quote p {
  margin: 0;
  font-size: 18px;
  text-align: center;
  line-height: 1.5em;
  font-family: Georgia, serif;
  font-style: italic;
  text-shadow: 0 1px 0 rgba(255,255,255,.9);
}

.testimonial .author {
  margin: 15px 0 0;
  text-align: center;
}

.testimonial .author img {
  border-radius: 3px;
  float: left;
  margin-right: 10px;
}

.testimonial .author p {
  margin: 0;
  line-height: 1em;
  color: #333;
}

.testimonial .author .name {
  font-weight: bold;
  font-size: 16px;
  padding: 5px 0;
}

.testimonial .author .company {
  font-size: 12px;
}

