---
layout: in-person
subpage: special
---


<div class="three-quarters">
  <div class="content">
    <h3>Special Git &amp; GitHub Events</h3>
    <p>GitHub sponsors, supports, hosts and teaches dozens of educational events around the globe each year. These can be free, attached to a conference, or a stand-alone workshop with an enrollment process. We hope you'll join us at one of these upcoming educational opportunities.</p>
    <ul class="resource-list class-list">
      {% for class in site.tags.inperson-special reversed %}
        <li class="resource class">
          <div class="summary">
            <div class="actions">
              <p class="cost">{{ class.cost }}</p>
              <p class="register">
                <a href="{{ class.registration_url }}" class="button">Register Now</a>
              </p>
            </div>
            <h4>{{ class.title }}</h4>
            {{ class.content }}
          </div>
          <div class="details">
            <span class="date">
              <img src="{{ site.url }}/img/icon-calendar.png" alt="Date" width="16px" height="16px" class="icon">
              {{ class.the_date }}
            </span>
            <span class="time">
              <img src="{{ site.url }}/img/icon-location.png" alt="Location" width="16px" height="16px" class="icon">
              {{ class.location }}
            </span>
            <span class="time">
              <img src="{{ site.url }}/img/icon-clock.png" alt="Time" width="16px" height="16px" class="icon">
              {{ class.start_time }}
              {% if class.end_time %} to {{ class.end_time }}{% endif %}
              {% if class.timezone %}(<a href="{{ class.timezonelink }}">{{ class.timezone }}</a>){% endif %}
            </span>
          </div>
        </li>
      {% endfor %}
      {% if site.tags.inperson-special[0] == null %}
        <p>There are no scheduled in-person special events at this time. Stay tuned for updates!</p>
      {% endif %}
    </ul>
  </div>
</div>
<div class="quarter">
  <div class="content">
    <h4>Topics at Live Events</h4>
    <p>Live events may cover anything from Git Foundations up to more advanced topics. Check out each event's details and registrations pages to find more info about the topics that will be covered then.</p>
  </div>
</div>
