---
layout: free
subpage: classes
---

<div class="container">
  <div class="content">
    <div class="category-description">
      <h3>Free GitHub classes and Office Hours sessions</h3>
      <p>GitHub offers free, short, topical online classes about GitHub, Git, and the union of these two technologies. We rotate through various topics every few months and are constantly looking to introduce new topics and concepts into the mix. <strong>Office Hours</strong> are free events following our free classes that allow any user of Git or GitHub to get answers directly from Git Experts.</p>
    </div>
    <ul class="resource-list class-list">
      {% for class in site.categories.classes %}
        <li class="resource class">
          <div class="container">
            <div class="three-quarters">
              <h4>{{ class.title }}</h4>
              <p>
                <span class="date">{{ class.the_date }}</span>
                <span class="time">
                  — {{ class.start_time }}
                  {% if class.end_time %} till {{ class.end_time }}{% endif %}
                  {% if class.timezone %}({{ class.timezone }}){% endif %}
                </span>
              </p>
              <div class="description">
                {{ class.content }}
              </div>
            </div>
            <div class="quarter align-right">
              <p><span class="cost">Cost: <strong>{{ class.cost }}</strong></span></p>
              <p><a href="{{ class.registration_url }}" class="register">Register Now</a></p>
              </p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
