---
layout: site
body_class: overview
---
<section class="hero">
  <div class="container">
    <div class="image">
      <img src="{{ site.url }}/img/git-training-pics.png" width="486px" height="318px">
      &nbsp;
    </div>
    <div class="intro">
      <div class="content">
        <h2>Education from the experts</h2>
        <p>We love helping people just like you use GitHub and Git to collaborate  and be more productive. No matter your level of experience, we’ve got something just for you.</p>
      </div>
    </div>
  </div>
</section>
<section class="main">
  <div class="container">
    <div class="third">
      <div class="content">
        <h3>Web-based Classes</h3>
        <p>No matter where you are in the world, we have a mix of both live classes and recorded tutorials that you can access from the comfort of your own computer.</p>
        <p class="more"><a href="/web/" class="">Learn from anywhere »</a></p>
      </div>
    </div>
    <div class="third">
      <div class="content">
        <h3>In-person Training</h3>
        <p>For face-to-face training and workshops, our highly experienced and professional trainers regularly offer live, in-person training sessions.</p>
        <p class="more"><a href="/in-person/" class="">View on-site courses »</a></p>
      </div>
    </div>
    <div class="third">
      <div class="content">
        <h3>High Quality Resources</h3>
        <p>Finding quality educational materials is hard, so we’ve assembled a collection of the best Git resources, like <a href="http://try.github.com">Try Git</a>, all in one place.</p>
        <p class="more"><a href="/resources/" class="">Browse our resources »</a></p>
      </div>
    </div>
    {% include try_git_banner.html %}
    {% include page_bottom.html %}
  </div>
</section>

