{% if site.gauges_id %}
  <!-- Gauges (http://gaug.es/) -->
  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '{{ site.gauges_id }}');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
{% endif %}

{% if site.google_analytics_id %}
  <!-- Google Analytics (http://google.com/analytics) -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.google_analytics_id }}']);
    _gaq.push(['_setDomainName', '{{ site.url }}']); // Multiple sub-domains
    _gaq.push(['_setAllowLinker', true]); // Multiple TLDs
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

<script>
	'use strict';
	var Demandbase=window.Demandbase||{};
    Demandbase.Connectors=window.Demandbase.Connectors||{};
	Demandbase.Connectors.Google_Analytics={
		name: 'Demandbase Google Analytics Connector',
		key:'cd3954907e7b8374c10ebd4f88b757a96541ff8b',
		fields:["company_name","web_site","industry","sub_industry"],
		version:'4.3',
		dbDataSet: null,
		logging: false,
		track:function(data) {
	      try {
	        var dbgac = Demandbase.Connectors.Google_Analytics, dflt = '(Non-company Visitor)', awDflt = '(Non-AccountWatch Visitor)';
	        data=dbgac._flatA(data);
	        dbgac.dbDataSet = data;
	        for (var i = 0; i < dbgac.fields.length; i++) {
	        	var num = i + 1, lbl = dbgac.fields[i], val = data[dbgac.fields[i]] || dflt, isCompany = (data['company_name']||dflt)!==dflt;

				if(lbl.indexOf('watch_list_')!==-1 && isCompany){
	        		val = data[dbgac.fields[i]]||awDflt;
	        	}
	            dbgac._var(num, lbl, val, 1);
	        }

	        if(data) {

	        }
	        dbgac._event();
	      } catch(e){ Demandbase.Connectors.Google_Analytics._logE('Integration Error: '+e)};
	    },
		load:function(){
			try {
				if(!window._gaq) window._gaq=[];
				var db=document.createElement('script');db.type='text/javascript'; db.async=true;  db.id = 'db_ip_api_ga';
		        db.src=('https:'==document.location.protocol?'https://':'http://')+'api.demandbase.com/api/v2/ip.json?key='+this.key+'&callback=Demandbase.Connectors.Google_Analytics.track&page='+document.URL+'&referrer='+document.referrer+'&page_title='+document.title;
		        var s=document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(db,s);
		        _gaq.push(['_addDevId', 'NE7T9']);
		        Demandbase.Connectors.Google_Analytics._logE('Loaded Script ' + db.src);
			} catch(e){ this._logE('Script Error: '+e)};
		},
		_flatA:function(a){  for(var d in a){ if(typeof a[d]=='object' && a[d] !== null){ for(var cd in a[d]){a[d+'_'+cd]=a[d][cd]}; delete a[d]; } }; return a; },
		_logE:function(m){ if(this.logging && window['console'] !== 'undefined' && typeof(console) !== 'undefined') { console.log('DB GA: '+m); } },
		_p:function(t,v1,v2,v3,v4,v5){ window._gaq.push([t,v1,v2,v3,v4,v5]); },
		_var: function(i,k,v,s) { this._p('_setCustomVar', i, k, v, s); this._logE(i + ' ' + k + ' : ' + v); },
		_event:function(){ this._p('_trackEvent','Demandbase','API Resolution','IP API',0,1); },
		_cEvent:function(cat, act, lbl){ this._p('_trackEvent', cat, act, lbl, 0, 1); this._logE('Custom Event Tracked: '+cat+' : '+act+' : '+lbl); }
	};
	Demandbase.Connectors.Google_Analytics.load();
</script>

{% endif %}
