<footer>
  <div class="container">
    <div class="content">
      <div id="footerlogo">
        <a href="https://github.com/" data-escp="">GitHub</a>
      </div>
      <p>
        <a href="https://help.github.com/articles/github-terms-of-service">Terms of Service</a> •
        <a href="https://help.github.com/articles/github-privacy-policy">Privacy</a> •
        <a href="https://help.github.com/articles/github-security">Security</a>
        <br />
        © 2013 GitHub Inc. All rights reserved.
      </p>
    </div>
  </div>
</footer>
