<footer>
  <div class="container">
    <div class="whole content">
      <a id="footerlogo" href="https://github.com">
        <img src="{{ site.url }}/img/github-logo.png" width="105px" height="50px" alt="">
      </a>
      <p>
        <a href="https://help.github.com/articles/github-terms-of-service">Terms of Service</a> |
        <a href="https://help.github.com/articles/github-privacy-policy">Privacy</a> |
        <a href="https://help.github.com/articles/github-security">Security</a>
        <br />
        © 2012 GitHub Inc. All rights reserved.
      </p>
    </div>
  </div>
</footer>
