<div class="top-bar">&nbsp;</div>
<header>
  <div class="container">
    <h1 id="logo" class="content">
      <a href="{{ site.url }}/">
        <span>GitHub Training</span>
        <img src="{{ site.url }}/img/gh-training-logo-blue.png" class="normal" width="185px" height="37px" alt="GitHub Training">
        <img src="{{ site.url }}/img/gh-training-logo-blue-hover.png" class="hover" width="185px" height="37px" alt="GitHub Training">
      </a>
    </h1>
    <nav id="nav">
      <ul class="content">
        <li{% if page.body_class == 'overview' %} class="current"{% endif %}>
          <a href="{{ site.url }}/">Overview</a>
        </li>
        <li{% if page.body_class == 'trainers' %} class="current"{% endif %}>
          <a href="{{ site.url }}/trainers">Your Trainers</a>
        </li>
        <li{% if page.body_class == 'web' %} class="current"{% endif %}>
          <a href="{{ site.url }}/web">Web-based</a>
        </li>
        <li{% if page.body_class == 'in-person' %} class="current"{% endif %}>
          <a href="{{ site.url }}/in-person">In-person</a>
        </li>
        <li{% if page.body_class == 'resources' %} class="current"{% endif %}>
          <a href="{{ site.url }}/resources">Resources</a>
        </li>
        <li{% if page.body_class == 'contact' %} class="current"{% endif %}>
          <a href="{{ site.url }}/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
