<header>
  <div class="container">
    <h1 id="logo" class="content">
      <a href="">
        <span>GitHub Training</span>
        <img src="{{ site.url }}/img/gh-training-logo.png" width="185px" height="37px" alt="GitHub Training">
      </a>
    </h1>
    <nav id="nav">
      <ul class="content">
        <li class="current">
          <a href="#">Overview</a>
        </li>
        <li>
          <a href="#">Your Trainers</a>
        </li>
        <li>
          <a href="#">Web-based Training</a>
        </li>
        <li>
          <a href="#">On-site Training</a>
        </li>
        <li>
          <a href="#">Free Resources</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
