<div class="container page-bottom">
  <div class="golden-small">
    <div class="content">
      {% unless page.body_class == 'contact' %}
        <h3>Get in touch, today!</h3>
        <p>We love hearing from people, so if you have any questions about GitHub’s training products and services, get in touch right away.</p>
        <p class="more"><a href="/contact/" class="">Contact our training team »</a></p>
      {% else %}
        <h3>Meet your trainers</h3>
        <p>Our trainers are experts when it comes to helping you become truly competent using GitHub and Git to get work done. They are professional, down-to-earth, and a pleasure to deal with.</p>
        <p class="more"><a href="/trainers/" class="">Meet our Git experts »</a></p>
      {% endunless %}
    </div>
  </div>
  <div class="golden-large">
    <div class="content">
      <div class="testimonial">
        <p class="byline">Here’s what people are saying about GitHub’s training…</p>
        <div class="quote">
          <p id="js-quote-text"></p>
          <div class="pointer-border"></div>
          <div class="pointer"></div>
        </div>
        <div class="author">
          <h3 id="js-quote-author"></h3>
          <p id="js-quote-company"></p>
        </div>
      </div>
    </div>
  </div>
</div>
