<div class="section fifths">
  <div class="subsection complex">
    <div class="content">
      <div class="testimonial">
        <p class="byline">Here’s what people are saying about GitHub’s training…</p>
        <div class="quote">
          <p>GitHub trainer people? Yep, totally awesome. Would definitely learn from this person again A1+++!</p>
          <div class="pointer-border"></div>
          <div class="pointer"></div>
        </div>
        <div class="author">
          <img src="https://secure.gravatar.com/avatar/ee5bae7fa46b3195869c285ecbb4619e?s=140&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-140.png" alt="" class="avatar" width="40px" height="40px">
          <p class="name">Coby Chapple</p>
          <p class="company">GitHub Inc.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="subsection compound">
    <div class="content">
      {% unless page.body_class == 'contact' %}
        <h3>Get in touch, today!</h3>
        <p>We love hearing from people, so if you have any questions about GitHub’s training products and services, or if there’s anything else we can do for you, get in touch right away.</p>
        <p class="more"><a href="../contact" class="">Get in touch »</a></p>
      {% else %}
        <h3>Meet your trainers</h3>
        <p>Our trainers are experts when it comes to helping you become truly competent using Git and GitHub to get work done. They are professional, down-to-earth, and a pleasure to deal with.</p>
        <p class="more"><a href="../trainers" class="">Meet our Git experts »</a></p>
      {% endunless %}
    </div>
  </div>
</div>