<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Git Training • GitHub</title>
  <link rel="stylesheet" href="{{ site.url }}/css/style.css">
  <link rel="icon" type="image/x-icon" href="/favicon.png" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}/js/jquery.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}/js/quotes.js"></script>
  <script type="text/javascript" src="{{ site.url }}/js/all.js"></script>
</head>
