/* Import a reset, hack it for now */
html, body, h1, h2, h3, h4, ul {
  margin: 0;
  padding: 0;
  /*font-weight: normal;*/
  clear: left; }

html, body {
  background: #fff;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: -5em;
  height: 100%; }

h1 {
  font-size: 3.5em;
  font-weight: normal; }

h2 {
  font-size: 2em;
  /*text-transform: uppercase;*/
  font-weight: normal;
  opacity: .8;
  /*padding-top: 1em;*/
  margin-bottom: .5em; }

p {
  /*font-size: 1.2em;*/
  line-height: 1.8em;
  margin-bottom: 1em;
  /*color: #000;*/ }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    color: #000;
    text-decoration: underline; }
  p a {
    font-weight: bold; }

.classes-text-color {
  color: #6db6a2; }
  .classes-text-color a {
    color: #6db6a2; }

.boxes {
  list-style-type: none;
  margin: 2em 0 2em 0;
  padding: 0; }
  .boxes li {
    display: inline-block;
    margin-right: 2em; }
    .boxes li:last-child {
      margin-right: 0; }
    .boxes li a {
      display: block;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
      border-radius: .25em;
      display: inline-block;
      padding: 1em 0;
      width: 12em; }
  .boxes.classes-text-color a {
    box-shadow: 0 0 0 1px #6db6a2; }

header {
  /*position: fixed;*/
  display: block;
  /*float: left;*/
  /*background: rgba(255,255,255,.95);*/
  height: 5em;
  margin-top: 10em;
  z-index: 100;
  width: 100%;
  border-bottom: solid 1px #eee; }
  header .container {
    position: relative;
    padding: 0;
    text-align: left; }
  header .logo-github {
    left: 0;
    margin-top: 1.65em;
    display: inline-block;
    height: 2em;
    width: 20em;
    background: url(/images/github-training-logo-2x.png) no-repeat;
    background-size: contain;
    overflow: hidden;
    line-height: 1000%; }
  header nav {
    position: absolute;
    right: 0;
    top: 2.3em;
    font-size: .9em; }
    header nav a {
      display: inline-block;
      height: 1em;
      text-decoration: none;
      color: #333;
      font-weight: bold;
      margin-right: 1.5em; }
      header nav a:last-child {
        margin-right: 0; }
      header nav a:hover {
        text-decoration: none; }

.container {
  margin: auto auto;
  padding: 2em 0;
  width: 67em; }
  .container h2 {
    text-align: center; }
  .container h2 + p {
    width: 75%;
    text-align: center;
    margin: 2em auto 0 auto;
    opacity: .7; }
  .container .third {
    width: 33.333%;
    display: inline-block; }
  .container .two-third {
    width: 66.666%;
    display: inline-block; }
  .container .half {
    width: 50%;
    display: inline-block; }

.banner {
  margin-top: -5em;
  display: table;
  width: 100%;
  text-align: center;
  background-color: #fff;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  margin: 0 0 0 0; }
  .banner.home {
    height: 100%;
    background: url(/images/microphone.jpg);
    background-size: cover;
    background-position: center center; }
    .banner.home h1 {
      font-size: 400%;
      color: rgba(0, 0, 0, 0.85);
      text-align: left;
      font-weight: bold; }
    .banner.home hgroup {
      width: 60%;
      float: left; }
  .banner.attend {
    color: #000;
    text-shadow: 1px 0 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    height: 30%;
    margin-top: -5em;
    /*background: $attend-color;*/
    background: url(/images/background/attend-conference.jpg) #6db6a2;
    background-size: cover;
    /*color: $attend-color;*/ }
  .banner.share {
    background: #8a829f; }
  .banner.contact {
    background: #ffc153; }
  .banner .center-center {
    display: table-cell;
    vertical-align: middle;
    width: 67em; }
  .banner .attend-bubble {
    font-weight: bold;
    border-bottom: solid 2px #6db6a2; }
  .banner .share-bubble {
    font-weight: bold;
    border-bottom: solid 2px #8a829f; }
  .banner .contact-bubble {
    font-weight: bold;
    border-bottom: solid 2px #ffc153; }
  .banner p {
    font-size: 2em;
    margin: 0;
    margin-bottom: 0; }

.pencil {
  background: url(/images/background/pencil.jpg) no-repeat;
  background-position: bottom center;
  background-size: 60%;
  padding-bottom: 5em; }

.panel {
  margin: 0;
  padding: 3em;
  text-align: center; }
  .panel a .take-action {
    background: rgba(0, 0, 0, 0.2);
    padding: 1.5em;
    border: solid 2px #fff;
    opacity: .8;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2em;
    display: inline-block;
    color: #fff; }
  .panel a.link:after {
    content: "\00bb";
    display: inline-block;
    margin-left: .25em; }
  .panel .date {
    border-bottom: dotted 1px rgba(0, 0, 0, 0.3); }
  .panel h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.9); }
  .panel.attend {
    background: url(/images/background/attend-conference.jpg) center center no-repeat #6db6a2;
    background-size: cover;
    color: rgba(255, 255, 255, 0.8); }
    .panel.attend + .attend {
      background: url(/images/background/octocat-monitor-tile.png) -2em -2em #f5f4f2;
      background-attachment: fixed; }
      .panel.attend + .attend h2 {
        color: rgba(0, 0, 0, 0.6); }
      .panel.attend + .attend p {
        color: rgba(0, 0, 0, 0.7); }
      .panel.attend + .attend + .light {
        /*border-top: solid 1px #efefee;*/
        background: #fcfbf9; }
    .panel.attend .globe {
      float: left;
      height: 12em;
      width: 50%;
      opacity: .3;
      background: url(/images/background/globe.png) center center no-repeat;
      background-size: contain; }
    .panel.attend .organization {
      float: right;
      height: 12em;
      width: 50%;
      opacity: .3;
      background: url(/images/background/organization.png) center center no-repeat;
      background-size: contain; }
  .panel.share {
    background: url(/images/background/share.jpg) center center no-repeat #8a829f;
    background-size: cover;
    color: rgba(255, 255, 255, 0.8); }
  .panel.contact {
    text-align: center;
    background-color: #ffc153;
    color: #FFF; }

footer {
  color: rgba(0, 0, 0, 0.5);
  /*margin-top: 1em;*/
  padding: 1em 0;
  border-top: solid 1px rgba(0, 0, 0, 0.05);
  clear: both;
  text-align: center; }

ul.section-selector {
  list-style-type: none;
  margin: 2em;
  padding: 0;
  text-align: center; }
  ul.section-selector li {
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    display: inline-block;
    background: rgba(255, 255, 255, 0.7);
    border-top: solid 1px rgba(255, 255, 255, 0.7);
    border-bottom: solid 1px rgba(255, 255, 255, 0.7); }
    ul.section-selector li:first-child {
      border-left: solid 1px rgba(255, 255, 255, 0.7);
      border-top-left-radius: .25em;
      border-bottom-left-radius: .25em; }
    ul.section-selector li:last-child {
      border-right: solid 1px rgba(255, 255, 255, 0.7);
      border-top-right-radius: .25em;
      border-bottom-right-radius: .25em; }
    ul.section-selector li a div {
      display: inline-block;
      width: 6em;
      padding: 1em; }
    ul.section-selector li a:hover div {
      background: white; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.dim-text {
  color: #aaa; }

.dim-solid {
  background: #f7f7f7;
  /* Old browsers */ }

.dim-grad {
  background: #f7f7f7;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f7f7f7 0%, white 30%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(30%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f7f7f7 0%, white 30%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f7f7f7 0%, white 30%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f7f7f7 0%, white 30%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f7f7f7 0%, white 30%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */
  border-top: solid 1px #eee; }

.shadow-pane {
  display: inline-block;
  background: #f7f7f7;
  padding: 1em;
  margin: 2em 0;
  border-radius: .25em;
  box-shadow: 0 0 0 1px #ededed, 0 -.1em .1em #fff, 0 .1em .1em #555; }

ul.class-list {
  list-style-type: none;
  text-align: center;
  margin-bottom: 1em; }
  ul.class-list li {
    display: inline-block;
    /*width: 45%;*/
    border-right: solid 1px rgba(0, 0, 0, 0.1);
    padding-top: 1em; }
    ul.class-list li:nth-child(2n+1) {
      padding-right: 1em; }
    ul.class-list li:nth-child(2n) {
      padding-left: 1em; }
    ul.class-list li:last-child {
      border-right: none; }
    ul.class-list li h4 {
      display: inline-block;
      margin: 0 0 .5em 0; }
    ul.class-list li .location {
      font-size: .8em;
      background: #e7e7e7;
      padding: .25em .7em;
      border-radius: .25em;
      color: #878787; }
    ul.class-list li .register {
      font-size: .9em;
      /*border: solid 1px rgba(0,0,0,.2);*/
      color: #478f7b;
      text-align: center;
      /*background: #fff;*/
      /*max-width: 50%;*/
      margin: 1em auto 0 1em;
      padding: .5em;
      /*border-radius: .25em;*/ }
      ul.class-list li .register:after {
        content: ">";
        color: #fff;
        background: #6db6a2;
        line-height: .9em;
        font-size: .9em;
        padding: .33em;
        display: inline-block;
        border-radius: 50%;
        height: 1em;
        width: 1em;
        border: solid 3px #fff; }
    ul.class-list li .details {
      line-height: 1em;
      font-size: .8em;
      text-align: center; }
      ul.class-list li .details .date {
        display: inline-block; }
        ul.class-list li .details .date:before {
          content: "";
          display: inline-block;
          background: url(/images/icon-calendar.png) no-repeat;
          background-size: contain;
          height: .8em;
          width: .8em; }
      ul.class-list li .details .time {
        display: inline-block; }
        ul.class-list li .details .time:before {
          content: "";
          display: inline-block;
          background: url(/images/icon-clock.png) no-repeat;
          background-size: contain;
          height: .8em;
          width: .8em; }

.section {
  /*border-bottom: solid 1px rgba(0,0,0.1);*/
  padding-top: 2em;
  padding-bottom: 2em; }
  .section .training-photo-free:before {
    content: "";
    position: absolute;
    display: block;
    background: url(/images/training-01.jpg) no-repeat;
    background-size: cover;
    height: 20em;
    width: 30em;
    margin-left: 50em;
    margin-top: 4em;
    border: solid 20px white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: .25em;
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg); }
  .section .training-photo-foundations:before {
    content: "";
    position: absolute;
    display: block;
    background: url(/images/training-02.jpg) no-repeat;
    background-size: cover;
    height: 20em;
    width: 30em;
    margin-left: -35em;
    margin-top: -2em;
    border: solid 20px white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: .25em;
    transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg); }

.details {
  border-spacing: 0;
  border-collapse: collapse;
  text-align: left; }
  .details th {
    font-weight: normal;
    padding: 1em 0 0 0;
    text-align: left;
    border-top: solid 1px #ededed; }
    .details th:first-child {
      font-size: 1.5em;
      margin: 0 3em 0 0;
      opacity: .8;
      width: 20%; }
    .details th:nth-child(n+3) {
      padding-top: 1.75em;
      width: 39%; }
  .details td {
    margin: 0;
    padding: 0;
    vertical-align: top; }
    .details td ul {
      /*list-style-type: circle;*/
      /*list-style-position: inside;*/
      margin: 1.25em;
      opacity: .6; }
      .details td ul li {
        line-height: 1.5em;
        font-size: .9em;
        padding-bottom: .6em; }
  .details .column-divider {
    /*background: blue;*/
    width: 2%;
    border: none; }

blockquote {
  text-align: center; }
  blockquote span {
    line-height: 1.2em;
    opacity: 1;
    font-size: 1.25em; }
    blockquote span:before {
      content: '"';
      /*display: inline-block;*/
      position: absolute;
      font-size: 4em;
      /*line-height: 1.33em;*/
      margin-left: -.35em;
      color: #eee; }
    blockquote span:after {
      content: '"';
      /*display: inline-block;*/
      position: absolute;
      font-size: 4em;
      line-height: .85em;
      color: #eee; }
  blockquote .attribution {
    padding: .5em .5em 0 13em;
    color: #aaa; }
    blockquote .attribution .author {
      display: inline-block; }
      blockquote .attribution .author:before {
        content: "\2014"; }
    blockquote .attribution .company {
      display: inline-block; }

.hidden {
  visibility: hidden;
  display: block;
  height: 0; }
