---
layout: web
subpage: classes
---

<div class="container">
  <div class="three-quarters">
    <div class="content">
      <div class="section-description">
        <h3>Free GitHub classes and Office Hours</h3>
        <p>GitHub offers free, short, topical online classes about GitHub, Git, and the union of these two technologies. We rotate through various topics every few months and are constantly looking to introduce new topics and concepts into the mix. <strong>Office Hours</strong> are free events following our free classes that allow any user of Git or GitHub to get answers directly from Git Experts.</p>
      </div>
      <ul class="resource-list class-list">
        {% for class in site.tags.web-free reversed %}
          <li class="resource class">
            <div class="summary">
              <div class="actions">
                <p class="cost">Free Class</p>
                <p class="register">
                  <a href="{{ class.registration_url }}" class="button">Register Now</a>
                </p>
              </div>
              <h4>{{ class.title }}</h4>
              {{ class.content }}
            </div>
            <div class="details">
              <span class="date">
                <img src="{{ site.url }}/img/icon-calendar.png" alt="Date" width="16px" height="16px" class="icon">
                {{ class.the_date }}
              </span>
              <span class="time">
                <img src="{{ site.url }}/img/icon-clock.png" alt="Time" width="16px" height="16px" class="icon">
                {{ class.start_time }}
                {% if class.end_time %} to {{ class.end_time }}{% endif %}
                {% if class.timezone %}(<a href="{{ class.timezonelink }}">{{ class.timezone }}</a>){% endif %}
              </span>
            </div>
          </li>
        {% endfor %}
      {% if site.tags.web-free[0] == null %}
        <p>There are no scheduled web-based free classes at this time. Stay tuned for updates!</p>
      {% endif %}
      </ul>
    </div>
  </div>
  <div class="quarter">
    <div class="content">
      <div class="help-box">
        <h4>GitHub Help</h4>
        <p>If you just need a quick answer, GitHub’s <a href="http://help.github.com" target=_blank>help website</a> is an excellent resource to keep bookmarked. It covers a range of Git topics from basic setup, all the way through to advanced topics.</p>
      </div>
    </div>
  </div>
</div>
