---
layout: bare
---

<h2>Teachers</h2>

<ul>
  {% for person in page.teacher %}
    <li>{% include {{person}} %}</li>
  {% endfor %}
</ul>

<h2>Installation</h2>
<ul>
  <li><a href="http://git-scm.com">The Git-SCM Web Site (All Platforms)</a></li>
  <li><a href="http://mac.github.com">The GitHub for Mac Client</a></li>
  <li><a href="http://windows.github.com">The GitHub for Windows Client and Command Line</a></li>
</ul>

<p><small>Minimum is 1.7.ANYTHING, but can have issues with HTTPS credential prompting. Best is 1.8.0 or higher</small></p>
</ul>

<h2>Course Materials, Links</h2>
<ul>
  <li><a href="http://teach.github.com">Git Teaching Materials</a></li>
  <li><a href="http://teach.github.com/presentations/">Course Slides</a></li>
  <li><a href="https://github.com/github/teach.github.com/tree/gh-pages/presentations">Course Slides Source</a></li>
  <li><a href="https://github.com/githubtraining/feedback/">Post-event Git and GitHub questions</a></li>
  <li><a href="http://training.github.com/web/free-classes/">Free Office Hours Sessions</a></li>
</ul>

<h2>Suggested Books, Articles</h2>
<ul>
  <li><a href="http://git-scm.com/book">Free ProGit Book</a></li>
  <li><a href="http://teach.github.com/articles/lesson-new-to-version-control/">Getting started with Version Control</a></li>
  <li><a href="http://scottchacon.com/2011/08/31/github-flow.html">The GitHub Flow</a></li>
  <li><a href="https://github.com/zkessin/dvcs-workflows">DVCS Workflows Book</a></li>
  <li><a href="http://teach.github.com/articles/git-cheatsheets/">Git Cheat Sheets</a></li>
  <li><a href="https://pinboard.in/u:matthew.mccullough/t:git+workflow">Git Workflow Links</a></li>
</ul>




<!-- CLI Only -->
{{ content }}
