{% include top.html %}
<body class="home">
  {% include header.html %}
  <section class="hero">
    <div class="container">
        <div class="subsection complex">
          <div class="content">
            <h2>Education from the experts</h2>
            <p>We love helping <strong>people like you</strong> learn how Git and GitHub can make collaboration easier, and help you be more productive. No matter what your level of experience, we’ve got something <strong>just for you</strong>.</p>
            <div class="container">
              <div class="subsection simple">
                <ul>
                  <li><strong>Git training</strong> for all levels</li>
                  <li><strong>Workflow development</strong> for teams</li>
                </ul>
              </div>
              <div class="subsection compound">
                <ul>
                  <li><strong>Git integration</strong> assistance and expertise</li>
                  <li><strong>Customized courses</strong> for unique needs</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
       <div class="subsection simple">
         Images go here
       </div>
    </div>
  </section>
  <section class="main">
    <div class="container">
      <div class="content">
        {{ content }}
      </div>
    </div>
  </section>
  {% include footer.html %}
</body>
</html>
