---
layout: default
body_class: free
title: Free Git Resources
byline: Lots of <strong>free and open source</strong> resources for <strong>you</strong>.
---

<div class="content">
  <div class="subpage-list">
    <ul>
      <li{% if page.subpage == 'classes' %} class="current"{% endif %}>
        <a href="{{ site.url }}/free">Free Classes</a>
      </li>
      <li{% if page.subpage == 'videos' %} class="current"{% endif %}>
        <a href="{{ site.url }}/free/videos">Videos</a>
      </li>
      <li{% if page.subpage == 'books' %} class="current"{% endif %}>
        <a href="{{ site.url }}/free/books">Books</a>
      </li>
      <li{% if page.subpage == 'repos' %} class="current"{% endif %}>
        <a href="{{ site.url }}/free/repositories">GitHub Repositories</a>
      </li>
      <li{% if page.subpage == 'other' %} class="current"{% endif %}>
        <a href="{{ site.url }}/free/other">Tutorials, Articles, and Downloads</a>
      </li>
    </ul>
  </div>
</div>

{{ content }}
