---

---

{% include site/header %}

<div class="banner {{ page.banner }}">
    <div class="center-center">
        <div class="container">
            <hgroup>
                <h1>Education from<br> the experts</h1>
                <p>
                    Join us for a <a href="/attend" class="attend-bubble">class</a>,
                    grab some open source <a href="/share" class="share-bubble">resources</a> or 
                    get in <a href="/contact" class="contact-bubble">contact</a>.
                </p>
            </hgroup>
        </div>
    </div>
</div>

<!-- <div class="container"> -->
{{ content }}
<!-- </div> -->

{% include site/footer %}