---
layout: default
body_class: in-person
title: In-person GitHub and Git training
html_title: Live Git Courses
byline: Join us for great local GitHub and Git training and events.
---

<div class="subpage-list">
  <ul>
    <li{% if page.subpage == 'foundations' %} class="current"{% endif %}>
      <a href="{{ site.url }}/in-person/git-foundations/">Git &amp; GitHub Foundations Course</a>
    </li>
    <li{% if page.subpage == 'advanced' %} class="current"{% endif %}>
      <a href="{{ site.url }}/in-person/advanced-git/">Advanced Git &amp; GitHub Course</a>
    </li>
    <li{% if page.subpage == 'special' %} class="current"{% endif %}>
      <a href="{{ site.url }}/in-person/special-events/">Special Git &amp; GitHub Events</a>
    </li>
  </ul>
</div>

<div class="container">
  {{ content }}
</div>
