---
layout: default
body_class: resources
title: Git Resources
html_title: Git Resources
byline: A collection of the highest quality Git resources.
---

<div class="subpage-list">
  <ul>
    <li{% if page.subpage == 'videos' %} class="current"{% endif %}>
      <a href="{{ site.url }}/resources/videos/">Videos</a>
    </li>
    <li{% if page.subpage == 'presentations' %} class="current"{% endif %}>
      <a href="{{ site.url }}/resources/presentations/">Presentations</a>
    </li>
    <li{% if page.subpage == 'books' %} class="current"{% endif %}>
      <a href="{{ site.url }}/resources/books/">Books</a>
    </li>
    <li{% if page.subpage == 'repos' %} class="current"{% endif %}>
      <a href="{{ site.url }}/resources/repositories/">GitHub Repositories</a>
    </li>
    <li{% if page.subpage == 'other' %} class="current"{% endif %}>
      <a href="{{ site.url }}/resources/other/">More Resources</a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="three-quarters">
    {{ content }}
  </div>
  <div class="quarter">
    <div class="content">
      <div class="help-box">
        <h4>GitHub Help</h4>
        <p>GitHub’s <a href="http://help.github.com" target=_blank>help website</a> is an excellent resource to keep bookmarked. It covers a range of Git topics from basic setup, all the way through to advanced topics.</p>
      </div>
    </div>
  </div>
</div>
