---
layout: default
body_class: web
title: Web-based Git training
html_title: Online Git Courses
byline: GitHub and Git training from anywhere.
---

<div class="subpage-list">
  <ul>
    <li{% if page.subpage == 'classes' %} class="current"{% endif %}>
      <a href="{{ site.url }}/web/free-classes/">Free Git &amp; GitHub Classes</a>
    </li>
    <li{% if page.subpage == 'foundations' %} class="current"{% endif %}>
      <a href="{{ site.url }}/web/git-foundations/">Git &amp; GitHub Foundations Course</a>
    </li>
    <li{% if page.subpage == 'advanced' %} class="current"{% endif %}>
      <a href="{{ site.url }}/web/advanced-git/">Advanced Git &amp; GitHub Course</a>
    </li>
  </ul>
</div>

<div class="container">
  {{ content }}
</div>
