---
layout: web
subpage: advanced
---

<div class="golden-large">
  <div class="content">
    <h3>Advanced GitHub &amp; Git Course</h3>
    <p>Many Git workshops successfully focus on the basics for those new to DVCS. However, with Git having a full 5 years on the street now, there is a growing desire to address the maturing users of this innovative DVCS. This workshop will take existing Git users and bring them to a heightened level of productivity by leveraging Git’s powerful, yet underused “advanced” features.</p>


    <div class="container">
      <div class="half">
        <h4>Topics</h4>
        <ul>
          <li>Common Branching Strategies</li>
          <li>Branching Models</li>
          <li>Applying Branching Strategies</li>
          <li>Branch Pull Options</li>
          <li>Reusing Small Pieces of Code</li>
          <li>Inserting Commits Into Existing History</li>
          <li>Building Custom Commands via Aliases</li>
          <li>Undoing and Re-doing Almost Anything</li>
          <li>Minimizing Repetitive Conflict Resolution</li>
          <li>Log History Searches</li>
          <li>Advanced Interactive Rebase</li>
          <li>Commit Data Structure Internals</li>
          <li>Refspecs</li>
        </ul>
      </div>
      <div class="half">
        <h4>Objectives</h4>
        <ul>
          <li>Enabling Git users to effectively migrate repositories from other formats.</li>
          <li>Facilitate history modification of Git repositories.</li>
          <li>Establish time-tested branching and merging strategies.</li>
          <li>Enhance knowledge of Git tools to simplify history.</li>
          <li>Search Git history with ease and precision.</li>
          <li>Move to and reuse code on other branches via commits and tags.</li>
          <li>Understand Git’s tagging and GPG signing process.</li>
        </ul>
      </div>
    </div>


  </div>
</div>
<div class="golden-small">
  <div class="content">
    <h4>Upcoming Courses</h4>
    <ul class="resource-list class-list">
      {% for class in site.tags.web-advanced reversed %}
        <li class="resource class small-class">
          <div class="summary">
            <div class="actions">
              <p class="register">
                <a href="{{ class.registration_url }}" class="button">Register Now</a>
              </p>
            </div>
            <h4>{{ class.title }}</h4>
            <p>
            </p>
            <div class="description">
              <p><span class="cost">{{ class.cost }}</span></p>
            </div>
          </div>
          <div class="details">
            <span class="date">
              <img src="{{ site.url }}/img/icon-calendar.png" alt="Date" width="16px" height="16px" class="icon">
              {{ class.the_date }}
            </span>
            <span class="time">
              <img src="{{ site.url }}/img/icon-clock.png" alt="Time" width="16px" height="16px" class="icon">
              {{ class.start_time }}
              {% if class.end_time %} to {{ class.end_time }}{% endif %}
              {% if class.timezone %}(<a href="{{ class.timezonelink }}">{{ class.timezone }}</a>){% endif %}
            </span>
          </div>
        </li>
      {% endfor %}
      {% if site.tags.web-advanced[0] == null %}
        <p>There are no scheduled web-based advanced classes at this time. Stay tuned for updates!</p>
      {% endif %}
    </ul>
    <p>Private group events are available. Please <a href="{{ site.url }}/contact/">contact us</a> for more information.</p>
    {% if page.prerequisites %}
      <h4>Prerequisites</h4>
      <p>{{ page.prerequisites }}</p>
    {% endif %}
  </div>
</div>
